<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GYM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/crear-cliente">Crear Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-cliente">Ver Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crear-ejercicio">Crear Ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-ejercicio">Ver Ejercicios</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-sm" align="center">
            <h2>CLIENTES REGISTRADOS</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="usuarioBuscar.nombre" class="form-control form-control-sm"
                oninput="this.value = this.value.toUpperCase()">
        </div>
        <div class="col-sm-2">
            <label>&nbsp;</label>
            <button class="btn btn-sm btn-block btn-primary" (click)="buscar()">Buscar</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">IDENT</th>
                        <th scope="col">TALLA</th>
                        <th scope="col">EDAD</th>
                        <th scope="col">PESO</th>
                        <th scope="col">OBSERV</th>
                        <th scope="col">OBJ</th>
                        <th scope="col">PLAN</th>
                        <th scope="col">OPC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.identificacion}}</td>
                        <td>{{usuario.talla}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>
                            <button (click)="pesosVer(i)" class="btn btn-sm btn-primary">
                                KG
                            </button>
                        </td>
                        <td>
                            <button (click)="observacionesVer(i)" class="btn btn-sm btn-primary">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                        <td>
                            <button (click)="objetivosVer(i)" class="btn btn-sm btn-primary">
                                <i class="fa fa-dumbbell"></i>
                            </button>
                        </td>
                        <td>
                            <a type="button" href="/crear-plan-entrenamiento?identificacion={{usuario.identificacion}}"
                                class="btn btn-sm btn-primary">
                                <i class="fa fa-play"></i>
                            </a>
                        </td>
                        <td>
                            <button (click)="editar(i)" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #modalPesos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">PESOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nuevo Peso:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="pesoActualizar" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block" (click)="pesoCrear()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>PESO</th>
                    <th>FECHA</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peso of usuarioActualizar.pesos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{peso.valor}}</td>
                    <td>{{peso.fecha | DateShortPipe}}</td>
                    <td>
                        <button (click)="pesoEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObservaciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OBSERVACIONES</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nueva Observacion:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="observacionActualizar" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block"
                    (click)="observacionCrear()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>OBSERVACION</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let observacion of usuarioActualizar.observaciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{observacion.descripcion}}</td>
                    <td>
                        <button (click)="observacionEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObjetivos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OBJETIVOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nuevo Objetivo:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="objetivoActualizar" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block"
                    (click)="objetivoCrear()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>OBJETIVO</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objetivo of usuarioActualizar.objetivos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{objetivo.descripcion}}</td>
                    <td>
                        <button (click)="objetivoEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalUsuarioActualizar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">DATOS BASICOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nombre:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.nombre" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Identificacion:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.identificacion"
                        class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Talla:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.talla" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-text-height"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Edad:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.edad" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-pager"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>