<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GYM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/crear-cliente">Crear Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-cliente">Ver Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crear-ejercicio">Crear Ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-ejercicio">Ver Ejercicios</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-sm" align="center">
            <h2>EJERCICIO</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <label>Descripcion:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="ejercicio.descripcion" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-walking"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Tipo:</label>
                    <div class="input-group">
                        <select [(ngModel)]="ejercicio.tipoMusculo" class="form-control form-control-sm">
                            <option value=""></option>
                            <option *ngFor="let musculo of musculos; let i=index" [value]=musculo.valor>
                                {{musculo.valor}}</option>
                        </select>
                        <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label>Imagen:</label>
                    <div class="input-group">
                        <input hidden type="file" #botonImagen id="imagen" name="imagen"
                            (change)="cargarImagen($event)">
                        <button (click)="botonImagen.click()" class="btn btn-sm btn-block btn-primary">Cargar Imagen</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <ng-container *ngIf="imagen!=null">
                        <p>{{imagen.name}}</p>
                    </ng-container>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" (click)="crear()" class="btn btn-success btn-sm btn-block"
                        oninput="this.value = this.value.toUpperCase()">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        <span href="#">Back to top</span>
                    </p>
                    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a
                            href="../../getting-started/">getting started guide</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>