<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GYM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/crear-cliente">Crear Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-cliente">Ver Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crear-ejercicio">Crear Ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-ejercicio">Ver Ejercicios</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-sm" align="center">
            <h2>CLIENTE</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <label>Nombre:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="usuario.nombre" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Identificacion:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="usuario.identificacion" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Talla:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="usuario.talla" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-text-height"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Edad:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="usuario.edad" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-pager"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Peso:</label>
                    <div class="input-group input-group-sm">
                        <input type="text" [(ngModel)]="peso" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-append">
                            <span class="input-group-text font-weight-bold">KG</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-block btn-primary" (click)="crearPeso()">Agregar Peso</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                        <thead class="table-active">
                            <tr>
                                <th>No.</th>
                                <th>Peso</th>
                                <th>Fecha</th>
                                <th>OPC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let peso of usuario.pesos; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{peso.valor}}</td>
                                <td>{{peso.fecha | DateShortPipe}}</td>
                                <td>
                                    <button (click)="eliminarPeso(i)" class="btn btn-primary form-control-sm"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Observaciones:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="observacion" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-bolt"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-block btn-primary" (click)="crearObservacion()">Agregar Observacion</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                        <thead class="table-active">
                            <tr>
                                <th>No.</th>
                                <th>OBSERVACION</th>
                                <th>OPC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let observacion of usuario.observaciones; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{observacion.descripcion}}</td>
                                <td>
                                    <button (click)="eliminarObservacion(i)" class="btn btn-primary form-control-sm"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label>Objetivos:</label>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="objetivo" class="form-control form-control-sm"
                            oninput="this.value = this.value.toUpperCase()">
                        <div class="input-group-text"><i class="fa fa-list-ol"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-block btn-primary" (click)="crearObjetivo()">Agregar Objetivo</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                        <thead class="table-active">
                            <tr>
                                <th>No.</th>
                                <th>Objetivo</th>
                                <th>OPC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objetivo of usuario.objetivos; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{objetivo.descripcion}}</td>
                                <td>
                                    <button (click)="eliminarObjetivo(i)" class="btn btn-primary form-control-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" (click)="crear()" class="btn btn-success btn-sm btn-block"
                        oninput="this.value = this.value.toUpperCase()">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        <span href="#">Back to top</span>
                    </p>
                    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a
                            href="../../getting-started/">getting started guide</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>