<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GYM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/leer-plan-entrenamiento">Ver Plan Entrenamiento</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-sm" align="center">
            <hr>
            <h2>MEDIDAS</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="card-group col-sm">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{usuario.nombre}}</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        <span class="justify-content-start">
                            IDENTIFICACION
                        </span>
                        <span class="justify-content-end ml-auto">
                            {{usuario.identificacion}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex">
                        <span class="justify-content-start">
                            TALLA
                        </span>
                        <span class="justify-content-end ml-auto">
                            {{usuario.talla}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex">
                        <span class="justify-content-start">
                            EDAD
                        </span>
                        <span class="justify-content-end ml-auto">
                            {{usuario.edad}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm" style="text-align: center;">
                                <button (click)="suscripcionesVer()"
                                    class="btn btn-sm btn-block btn-primary">VER SUSCRIPCIONES</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm" style="text-align: center;">
                                <button (click)="pesosVer()" class="btn btn-sm btn-block btn-primary">
                                    VER PESOS
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm" style="text-align: center;">
                                <button (click)="observacionesVer()" class="btn btn-sm btn-block btn-primary">
                                    VER OBSERVACIONES
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm" style="text-align: center;">
                                <button (click)="objetivosVer()" class="btn btn-sm btn-block btn-primary">
                                    VER OBJETIVOS
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm" style="text-align: center;">
                                <a type="button"
                                    href="/leer-plan-entrenamiento"
                                    class="btn btn-sm btn-primary btn-block">
                                    VER PLAN DE ENTRENAMIENTO
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #modalSuscripciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">SUSCRIPCIONES</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suscripcion of usuario.suscripciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{suscripcion.fecha | DateShortPipe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalPesos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">PESOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>PESO</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peso of usuario.pesos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{peso.valor}} KG</td>
                    <td>{{peso.fecha | DateShortPipe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObservaciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OBSERVACIONES</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>OBSERVACION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let observacion of usuario.observaciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{observacion.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObjetivos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OBJETIVOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>OBJETIVO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objetivo of usuario.objetivos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{objetivo.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>