@media only screen and (max-width: 600px) {
    img {
      height: 200px;
    }
  }

.myfont{
  font-family: 'Montserrat', sans-serif;
}

.img-sombra {
  border:2px solid #e5bc47;
  box-shadow: 10px 10px 5px #e5bc47;
  -moz-box-shadow: 10px 10px 5px #e5bc47;
  -webkit-box-shadow: 10px 10px 5px #e5bc47;
  -khtml-box-shadow: 10px 10px 5px #e5bc47;
}